# .gitignore at <saiki/>
# ---------------------

### IDEs ###
.vscode/
.vs/
.idea/

### Python ###
*.venv/*
*venv/*
*/__pycache__/*
*.pyc

### Binaries ###
bin/
*.o
*.a
*.lib
*.dll
*.so
*.exe

### Data and logging ###
*.log

### Temporaries ###
*temp/
*.ls

### Database ###
*.sqlite3
src/backend/db.sqlite3

**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# this one is important being propagated.
!**/src/backend/saiki_data_db.sqlite3
