:root {
  --primary-background-color: rgb(40, 40, 40);
  --secondary-background-color: rgb(20, 20, 20);
  --lighter-auxiliary-color: rgb(210, 210, 210);

  --card-radius: 30px;
  --card-padding: 1rem;

  --info_color: rgb(210, 210, 210);
  --corrent_color: rgb(0, 146, 44);
  --partial_color: rgb(188, 153, 0);
  --wrong_color: rgb(174, 0, 0);

  --highlight-color: rgb(189, 189, 0);


  --text-color: rgb(0, 0, 0);
}

body {
  margin: 0;
  background: var(--primary-background-color);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.top-bar {
  background-color: var(--secondary-background-color);
  padding: 15px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 150px;
  width: auto;
}

.translateBox {
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  padding: 4px;
  border-radius: 8px;
  background: var(--lighter-auxiliary-color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  top: 30px;
  right: 10px;
  z-index: 1100;
}

.prompt-box {
  margin: 1rem 0;
  padding: 0.5rem;
  background: var(--lighter-auxiliary-color);
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

input[type="text"] {
  margin: 1rem 0;
  padding: 0.5rem;
  background: var(--lighter-auxiliary-color);
  border: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  font-size: 1rem;
}

.div_new_game {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem;
  gap: 1rem;
  color: #004400;
  background: #e0ffe0;
  border: 2px solid black;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}

.btn_new_game {
  background-color: #4CAF50;
  color: white;    
  border: none;
  width: 45%; 
  align-self: center;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn_new_game:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.btn_new_game:active {
  transform: scale(0.98);
}

.attempts {
  color: var(--lighter-auxiliary-color);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.hint-labels {
  color: var(--lighter-auxiliary-color);
  display: flex;
  padding: 0px;
  list-style: none;
  justify-content: center;
  width: 100%;
  font-size: 0.8rem;
  gap: 1rem;
  padding: 0px;
}

.hint-labels li {
  word-break: break-word;       
  white-space: normal;
  width: 6rem;
  text-align: center;
  -webkit-text-stroke: 0.19px black;
}

.infoDialog {
  background: var(--lighter-auxiliary-color);
  height: 100vh;
  z-index: 1500;
  width: 60%;
  border-radius: 20px;
  animation: emergir 0.8s ease-out forwards;
}

.infoDialog::-webkit-scrollbar {
  width: 8px; 
}

.infoDialog::-webkit-scrollbar-track {
  background: #f5f5f5; 
  border-radius: 8px;
}

.infoDialog::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
  border: 1px solid black;
}

.infoDialog::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.closeDialog {
  position: absolute;
  top: 0px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 0.5rem;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  height: 72px;
  width: 72px;
  margin: auto;
  text-align: center;
  word-break: break-word;       
  white-space: normal;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 4px rgba(0, 0, 0, 0.1);
  border-radius: var(--card-radius);
  margin: 1rem 0;
  padding: var(--card-padding);
  width: 100%;
  max-width: 800px;
  background: var(--lighter-auxiliary-color);
  animation: emergir 0.8s ease-out forwards;
}

.card.correct {
  border-color: var(--correct-color);
}

.card.partial {
  border-color: var(--partial-color);
}

.card.wrong {
  border-color: var(--wrong-color);
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.correct-color { background-color: var(--correct-color);}
.partial-color { background-color: var(--partial-color);}
.wrong-color { background-color: var(--wrong-color);}
.highlight-color { background-color: var(--highlight-color); color: black; }

.footer-info {
  position: fixed;
  border: none;
  bottom: 1rem;
  right: 1rem;
  background: var(--lighter-auxiliary-color);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.milvus-dialog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  background: #00b3ff;
  height: 30vh;
  width: 30%;
  border-radius: 20px;
  animation: emergir 0.8s ease-out forwards;
}

.pokemon-dialog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  background: #d9d607;
  border-color: #0303ab;
  border-width: 5px;
  border-radius: 20px;
  height: 30vh;
  width: 30%;
  animation: emergir 0.8s ease-out forwards;
}

@media (max-width: 600px) {
  .info-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes emergir {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes desvanecer {
  from { opacity: 1; transform: translateY(0px); }
  to   { opacity: 0; transform: translateY(10px); }
}